.widget-indicator {
	font-size: 1.21rem;
	color: rgba(0, 0, 0, 0.15);
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
}

.widget {
	position: relative !important;
	box-shadow: none !important;
	background: none !important;
}

.widget:has(.no-events) {
	display: none !important;
}

.widget header {
	position: static !important;
	padding: 0.8rem 0 1.21rem 0 !important;

	&::after {
		content: "";
		height: calc(100% - 3.64rem);
		width: 100%;
		left: 0;
		position: absolute;
		border-radius: 1.125rem;
		top: 3.64rem;
		box-shadow: 0.05rem 0.05rem 0.2rem 0.2rem rgba(148, 148, 148, 0.1);
		background: white;
	}

	h2 {
		margin-left: 0 !important;
		margin-right: 0 !important;
		font-size: 1.3rem !important;
		color: rgba(0, 0, 0, 0.15) !important;
		text-overflow: ellipsis !important;
		overflow: hidden;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 600 !important;
		transition: color 0.2s ease-out;
		margin: 0 !important;

		cursor: pointer;
		text-align: start !important;

		* {
			color: inherit !important;
			text-align: inherit !important;
		}

		&:hover {
			color: rgba(0, 0, 0, 0.3) !important;
		}
	}
}

.cta-conteneur {
	top: 1.2rem !important;
	right: 0 !important;
	transform: translateY(-50%);
}

.widget .liste-imbriquee {
	padding: 3rem 2.25rem !important;
}

/* date indicator */

.widget .liste-imbriquee h3 {
	margin: 0 !important;
	padding: 0 0 2.375rem 0 !important;
	background-color: transparent !important;
	font-weight: 600 !important;
	color: #888888 !important;
	font-size: 1.21rem !important;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	width: 100% !important;

	&::before,
	&::after {
		content: "";
		height: 0 !important;
		border: solid 1px #a5a5a5;
	}

	&::before {
		width: 3rem;
	}

	&::after {
		width: max-content;
		flex-grow: 1;
	}

	> span {
		display: none !important;
	}
}

/* item */

.widget .liste-imbriquee {
	justify-content: flex-start !important;
}

.widget .liste-imbriquee ul li > .conteneur-item {
	margin: 0 !important;
	padding: 1.5rem 0 !important;
	display: flex !important;
	flex-direction: column;
	gap: 0.5rem;

	> div {
		margin: 0 !important;
		padding: 0 !important;
	}

	.description {
		padding-left: 1.3125rem !important;
		font-weight: 500 !important;
		line-height: 1.2 !important;
		font-size: 1.125rem !important;
	}

	.as-header {
		align-items: start !important;
	}

	.with-color {
		margin: 0 !important;

		&::before {
			width: 0.468rem !important;
			height: 2rem !important;
			margin-right: 1rem !important;
			border-radius: 99999px !important;
		}
	}

	.titre-matiere {
		font-size: 1.3125 !important;

		&.est-fait {
			color: rgba(0, 0, 0, 0.5) !important;
		}
	}

	.tag-style {
		padding: 0.5rem 0.85rem !important;
		background: rgba(0, 0, 0, 0.05) !important;
		color: rgba(0, 0, 0, 0.45) !important;
		border-radius: 0.5rem !important;
		font-weight: 600 !important;

		&::after {
			display: none !important;
		}

		&.ThemeCat-pedagogie {
			background: rgba(0, 0, 0, 0.35) !important;
			color: white !important;
		}
	}

	.as-content.done {
		display: block !important;

		.description div {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			color: rgba(0, 0, 0, 0.3) !important;
		}
	}

	.cb-termine {
		margin-top: 0.5rem !important;
		font-size: 1.21rem !important;
		font-weight: 600 !important;
		color: rgba(0, 0, 0, 0.3) !important;

		&.is-checked {
			color: rgba(0, 0, 0, 0.5) !important;
		}

		span {
			color: inherit !important;
		}

		* *,
		*::before,
		*::after {
			color: inherit !important;
		}

		> span:has(::before)::before,
		> span:has(::after)::after {
			width: 1.8rem !important;
			height: 1.8rem !important;
		}
	}
}
.widget.travailafaire .piece-jointe {
	padding: 0 !important;
}
.widget.travailafaire .piece-jointe a,
.widget.ressourcepedagogique .pj-date-contain a {
	display: 0.28rem 0.56rem !important;
	border-radius: 0.5rem !important;
	background-color: rgba(10, 87, 143, 0.15) !important;
	color: #5e5e5e !important;

	&:hover {
		background-color: rgba(10, 87, 143, 0.3) !important;
	}
}

.widget .liste-imbriquee ul > li:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.widget .liste-imbriquee > li:not(:last-child) {
	margin-bottom: 2.25rem !important;
}

/* agenda */

.widget.agenda ul {
	overflow: hidden !important;
}

.widget.agenda ul li {
	border-color: rgba(0, 0, 0, 0.05) !important;
	padding: 1.125rem 1.5rem !important;
	transition: background-color 0.05s ease-out !important;

	&:hover {
		background-color: rgba(60, 144, 0, 0.1) !important;
	}

	a {
		height: 100%;
		margin: 0 !important;
		padding: 0 !important;

		&:hover {
			background-color: transparent !important;
		}
	}

	.bloc-date-conteneur {
		padding: 0.5rem 0.84rem !important;
		border-radius: 0.5rem !important;
		flex-direction: row !important;
		gap: 2px !important;
		width: auto !important;
		background-color: rgba(60, 144, 0, 0.2) !important;
		color: rgba(60, 144, 0, 1);

		div {
			display: inline-block;
		}
	}

	.infos-agenda-conteneur span {
		color: rgba(0, 0, 0, 0.5) !important;
	}

	&.masked {
		display: none !important;
	}
}
.widget.agenda .as-footer {
	display: none !important;
}

.widget.agenda ul.liste-clickable {
	margin: 0 !important;
	padding: 0.4rem 0 !important;
}

.widget.agenda .content-container::after {
	color: rgba(60, 144, 0, 0.05) !important;
}

/* cdi */

.widget.partenairecdi {
	.filtre-conteneur {
		display: none !important;
	}

	header::after {
		content: none !important;
	}

	.content-container .input-wrapper {
		margin: 0 !important;
		width: auto !important;
		background: white !important;
	}

	.as-search {
		padding: 0.84rem 1.5rem !important;
		max-width: 100% !important;
		font-size: 1.21rem !important;
		font-weight: 600 !important;
		font-style: normal !important;

		& ::placeholder {
			font-style: inherit !important;
			color: #a5a5a5 !important;
		}
	}
}

/* resources */

.widget.ressourcepedagogique {
	.one-line {
		padding: 0 !important;
	}

	ul li {
		border-color: rgba(0, 0, 0, 0.05) !important;
		padding: 1.125rem 1.5rem !important;

		.wrap h3::before {
				width: 0.468rem !important;
				height: 2rem !important;
				margin-right: 1rem !important;
				border-radius: 99999px !important;
		}
	}

	.date {
		color: rgba(0, 0, 0, 0.5) !important;
	}

	.pj-date-contain {
		margin: 0.5rem 0 !important;
	}
}

/* timetable */

.widget.edt {
	.content-container {
		padding: 0 2.25rem 3rem 2.25rem !important;
		flex: none !important;

		h2 {
			font-weight: 600 !important;
			color: #a5a5a5 !important;
			letter-spacing: 0.02em;
		}
	}

	.filtre-conteneur {
		padding: 3rem 2.25rem 1.5rem 2.25rem !important;

		.input-wrapper {
			gap: 1.5rem !important;

			.as-date-picker {
				border: 2px solid rgba(165, 165, 165, 0.35) !important;
				border-radius: 1rem !important;
				padding: 0.75rem 1.21rem !important;
				background-color: rgba(14, 124, 203, 0.15) !important;
				height: auto !important;
				color: #0e7ccb !important;
				font-weight: 600 !important;
				font-size: 1.25rem !important;
				gap: 2rem !important;

				* {
					width: auto !important;
					font-size: inherit !important;
					font-weight: inherit !important;
					color: inherit !important;
				}
			}
		}

		i {
			margin: 0 !important;
			padding: 0 !important;
			background: none !important;
			color: #636363 !important;
			font-size: 1.2rem !important;
		}
	}

	ul.liste-cours li {
		padding: 0.65rem 0 !important;

		.container-heures div:first-child {
			font-size: 1.5rem !important;
			font-weight: 600 !important;

			+ div {
				font-size: 1.3125rem !important;
				color: rgba(0, 0, 0, 0.5) !important;
			}
		}
		ul.container-cours {
			gap: 0.5rem !important;
			li:first-child {
				font-size: 1.4rem !important;
			}
			li:not(.container-etiquette):not(:first-of-type):not(:last-of-type) {
				font-size: 1.125rem;
				color: rgba(0, 0, 0, 0.45);
			}

			&:has(li.container-etiquette) >li:nth-last-child(2),
			&:not(:has(li.container-etiquette))> li:last-child {
				font-size: inherit !important;
				color: #000 !important;
				border-radius: 0.5rem !important;
				padding: 0.5rem 0.57rem !important;
				background: rgba(0, 0, 0, 0.1);
				width: fit-content;
			}
		}
	}
}

/* vie scolaire */

.widget.agenda ul {
	overflow: hidden !important;
}

.widget.viescolaire ul li {
	border-color: rgba(0, 0, 0, 0.05) !important;
	padding: 1.125rem 1.5rem !important;
	transition: background-color 0.05s ease-out !important;

	&:hover {
		background-color: rgba(0, 106, 144, 0.1) !important;
	}

	a {
		height: 100%;
		margin: 0 !important;
		padding: 0 !important;

		&:hover {
			background-color: transparent !important;
		}
	}

	.wrap .date {
		color: rgba(0, 0, 0, 0.5) !important;
		padding-top: 0.5rem !important
	}

	&.masked {
		display: none !important;
	}
}

.widget.viescolaire ul.liste-clickable {
	margin: 0 !important;
	padding: 0.4rem 0 !important;
}

.widget.viescolaire .content-container::after {
	color: rgba(0, 106, 144, 0.05) !important;
}

/* notes */

.widget.notes ul {
	overflow: hidden !important;
}

.widget.notes ul li {
	border-color: rgba(0, 0, 0, 0.05) !important;
	padding: 1.125rem 1.5rem !important;
	transition: background-color 0.05s ease-out !important;

	&:hover {
		background-color: rgba(209, 136, 0, 0.1) !important;
	}

	a {
		height: 100%;
		margin: 0 !important;
		padding: 0 !important;
		align-items: center !important;

		&:hover {
			background-color: transparent !important;
		}
	}

	.as-info {
		padding: 0.5rem 0.84rem !important;
		border-radius: 0.5rem !important;
		flex-direction: row !important;
		gap: 2px !important;
		align-self: auto !important;
		background-color: rgba(209, 136, 0, 0.2) !important;
		color: rgba(209, 136, 0, 1);

		div {
			display: inline-block;
		}
	}

	.infos-conteneur .date {
		color: rgba(0, 0, 0, 0.5) !important;
		margin-top: 0.5rem !important;
	}

	&.masked {
		display: none !important;
	}
}
.widget.notes .as-footer {
	display: none !important;
}

.widget.notes ul.liste-clickable {
	margin: 0 !important;
	padding: 0.4rem 0 !important;
}

.widget.notes .content-container::after {
	color: rgba(209, 136, 0, 0.05) !important;
}

/* compentences */

.widget.competences ul {
	overflow: hidden !important;
}

.widget.competences ul li {
	border-color: rgba(0, 0, 0, 0.05) !important;
	padding: 1.125rem 1.5rem !important;
	transition: background-color 0.05s ease-out !important;

	&:hover {
		background-color: rgba(209, 136, 0, 0.1) !important;
	}

	a {
		height: 100%;
		margin: 0 !important;
		padding: 0 !important;
		align-items: center !important;

		&:hover {
			background-color: transparent !important;
		}
	}

	.infos-conteneur .date {
		color: rgba(0, 0, 0, 0.5) !important;
		margin-top: 0.5rem !important;
	}

	&.masked {
		display: none !important;
	}
}
.widget.competences .as-footer {
	display: none !important;
}

.widget.competences ul.liste-clickable {
	margin: 0 !important;
	padding: 0.4rem 0 !important;
}

.widget.competences .content-container::after {
	color: rgba(209, 136, 0, 0.05) !important;
}