/* agenda */

.widget.agenda ul {
	overflow: hidden !important;
}

.widget.agenda ul li {
	border-color: rgba(var(--black), 0.05) !important;
	padding: 1.125rem 1.5rem !important;
	transition: background-color 0.05s ease-out !important;

	&:hover {
		background-color: rgba(var(--primary-green), 0.1) !important;
	}

	a {
		height: 100%;
		margin: 0 !important;
		padding: 0 !important;

		&:hover {
			background-color: transparent !important;
		}
	}

	.bloc-date-conteneur {
		padding: 0.5rem 0.84rem !important;
		border-radius: 0.5rem !important;
		flex-direction: row !important;
		gap: 2px !important;
		width: auto !important;
		background-color: rgba(var(--primary-green), 0.2) !important;
		color: rgba(var(--primary-green), 1);

		div {
			display: inline-block;
		}
	}

	.infos-agenda-conteneur span {
		color: rgba(var(--black), 0.5) !important;
	}

	&.masked {
		display: none !important;
	}
}
.widget.agenda .as-footer {
	display: none !important;
}

.widget.agenda ul.liste-clickable {
	margin: 0 !important;
	padding: 0.4rem 0 !important;
}

.widget.agenda .content-container::after {
	color: rgba(var(--primary-green), 0.05) !important;
}

.widget.agenda ul {
	overflow: hidden !important;
}
