/* notes */

.widget.notes ul {
	overflow: hidden !important;
}

.widget.notes ul li {
	border-color: rgba(var(--black), 0.05) !important;
	padding: 1.125rem 1.5rem !important;
	transition: background-color 0.05s ease-out !important;

	&:hover {
		background-color: rgba(209, 136, 0, 0.1) !important;
	}

	a {
		height: 100%;
		margin: 0 !important;
		padding: 0 !important;
		align-items: center !important;

		&:hover {
			background-color: transparent !important;
		}
	}

	.as-info {
		padding: 0.5rem 0.84rem !important;
		border-radius: 0.5rem !important;
		flex-direction: row !important;
		gap: 2px !important;
		align-self: auto !important;
		background-color: rgba(209, 136, 0, 0.2) !important;
		color: rgba(209, 136, 0, 1);

		div {
			display: inline-block;
		}
	}

	.infos-conteneur .date {
		color: rgba(var(--black), 0.5) !important;
		margin-top: 0.5rem !important;
	}

	&.masked {
		display: none !important;
	}
}
.widget.notes .as-footer {
	display: none !important;
}

.widget.notes ul.liste-clickable {
	margin: 0 !important;
	padding: 0.4rem 0 !important;
}

.widget.notes .content-container::after {
	color: rgba(209, 136, 0, 0.05) !important;
}
