/* cdi */

.widget.partenairecdi {
	.filtre-conteneur {
		display: none !important;
	}

	header::after {
		content: none !important;
	}

	.content-container {
		background: rgba(var(--white), 1) !important;
		box-shadow: 0.05rem 0.05rem 0.2rem 0.2rem rgba(var(--gray), 0.1);
		overflow: hidden !important;
		border-radius: 9999px !important;

		.input-wrapper {
			width: auto !important;
			margin: 0 !important;
		}
	}

	.as-search {
		padding: 0.84rem 1.5rem !important;
		max-width: 100% !important;
		font-size: var(--text-sm) !important;
		font-weight: 600 !important;
		font-style: normal !important;

		input {
			padding: 0 !important;
			border: none !important;
		}

		& ::placeholder {
			font-style: inherit !important;
			color: rgba(var(--light-gray), 1) !important;
		}
	}
}

.widget.lienutile {
	--widget-color: var(--light-gray);
	ul {
		overflow: hidden;

		li {
			border-color: rgba(var(--black), 0.05) !important;
			padding: 1.125rem 1.5rem !important;
			transition: background-color 0.05s ease-out !important;
			align-items: center !important;

			&::before {
				height: 6px !important;
				aspect-ratio: 1/1 !important;
				content: "" !important;
				background-color: rgba(var(--black), 0.6) !important;
				border-radius: 3px !important;
				font-family: inherit !important;
				color: var(--black) !important;
			}

			.wrap div {
				color: rgba(var(--black), 0.6) !important;
			}

			&:hover {
				background-color: rgba(var(--widget-color), 0.1) !important;
			}

			a {
				height: 100%;
				margin: 0 !important;
				padding: 0 !important;
				align-items: center !important;

				&:hover {
					background-color: transparent !important;
				}
			}

			&.masked {
				display: none !important;
			}
		}
	}

	.as-footer {
		display: none !important;
	}

	ul.liste-clickable {
		margin: 0 !important;
		padding: 0 !important;
	}

	.content-container::after {
		color: rgba(var(--widget-color), 0.05) !important;
	}
}
