@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "FixelVariable", sans-serif !important;
}

@font-face {
	font-family: "FixelVariable";
	src: url("src/fonts/fixel/FixelVariable.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
}
@font-face {
	font-family: "FixelVariable";
	src: url("src/fonts/fixel/FixelVariableItalic.ttf") format("truetype");
	font-weight: 100 900;
	font-style: italic;
}
